S3method(print,microeda_report)
S3method(print,microeda_alpha)
S3method(print,microeda_alpha_compare)
export(as_alpha_pairwise)
export(as_alpha_summary)
export(as_alpha_table)
export(as_alpha_tests)
export(as_recommendations)
export(microeda_alpha)
export(microeda_alpha_compare)
export(microeda_check)
export(microeda_rules)
importFrom(methods,as)
