S3method(print,microeda_report)
S3method(print,microeda_alpha)
S3method(print,microeda_alpha_compare)
S3method(print,microeda_beta)
S3method(print,microeda_beta_compare)
S3method(print,microeda_beta_compare_ordination)
S3method(print,microeda_beta_ordination)
S3method(print,microeda_qc)
export(as_alpha_pairwise)
export(as_alpha_summary)
export(as_alpha_table)
export(as_alpha_tests)
export(as_beta_compare_coordinates)
export(as_beta_compare_distances)
export(as_beta_compare_group_summary)
export(as_beta_compare_summary)
export(as_beta_coordinates)
export(as_beta_dist)
export(as_beta_matrix)
export(as_beta_samples)
export(as_qc_issues)
export(as_qc_summary)
export(as_recommendations)
export(microeda_alpha)
export(microeda_alpha_compare)
export(microeda_alpha_pairwise_report)
export(microeda_alpha_plot)
export(microeda_beta)
export(microeda_beta_compare)
export(microeda_beta_compare_ordination)
export(microeda_beta_compare_report)
export(microeda_beta_ordination)
export(microeda_beta_plot)
export(microeda_check)
export(microeda_qc)
export(microeda_qc_plot)
export(microeda_qc_report)
export(microeda_qc_write_report)
export(microeda_rules)
importFrom(methods,as)
